# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

basis.cpp
operator.cpp
symmetry.cpp
_utils.cpp


dist/
*.egg
*.egg-info
.vscode/
.pytest_cache/
.vscode/
*dSYM*
build/
__pycache__/
CMakeFiles/
Makefile
CMakeFiles/
*.cmake
CMakeCache.txt
doctest/
install.txt
**/.DS_Store
.coverage
*.lcov
*-build/
*venv/

src/quspin_core/lib/
src/quspin_core/include/
